@import "@/assets/styles/homeObjects/footer";


.clr-black
  color: black


.shadow-navbar-custom
  box-shadow: 0 1.5px 0 0 rgba(0,0,0, 0.1)

:root
  color-scheme: light dark
  font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
