@import "@/assets/styles/homeObjects/footer";


.clr-black
  color: black


.shadow-navbar-custom
  box-shadow: 0 1.5px 0 0 rgba(0,0,0, 0.1)

@font-face 
  font-family: 'Montserrat' 
  src: url('~@/assets/fonts/Montserrat-Regular.ttf') format('truetype')  
  font-weight: 400
  font-style: normal
  font-display: swap

:root
  color-scheme: light dark
  font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
