@inherits LayoutComponentBase
@inject Pages.auth.IAuthService AuthService
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <button @onclick="Logout" class="btn btn-link">Logout</button>
    </Authorized>
    <NotAuthorized>
        <a href="/auth/sign-in" class="btn btn-link">Login</a>
    </NotAuthorized>
</AuthorizeView>

@Body

@code {
    private async Task Logout()
    {
        await AuthService.LogoutAsync();
        Navigation.NavigateTo("/routes");
    }
}