.navbar-custom{
  z-index: 1030;
  height: 17vh;
  background: white;
  padding-left: 15%;
  padding-right: 15%;
}

.header-container-custom{
  font-family: Montserrat;
  height: 17vh;
}

.clr-black{
  color: black;
}

.shadow-navbar-custom{
  box-shadow: 0 1.5px 0 0 rgba(0,0,0, 0.1);
}