
$white: #ffffff;
$black: #202124;
$light-black: #2e2e2e;
$main-white: #fefefe;

$hover-white: #f7f8f8;
$primary-blue: #007bff;
$darken-blue: #3672d4;
   
$input-shadow: 0 0 8px rgba(0, 0, 0, 0.2); 

$secondary: #f59e0b;
$accent: #447cdc;
$background: #f8fafc;
$transition: all 0.3 cubic-bezier(0.4, 0, 0.2, 1);
$radius: 12px;
$border-radius: 8px;

// green
$dark-green: #0D652D;
$medium-green: #34A853;

// yellow
$dark-yellow: #ebac02;
$yellow: #FBBC04;
$light-yellow: #FEEFC3;

// orange
$light-orange: #FF8A00;

// blue
$dark-blue: #174EA6;


// grey
$dark-grey: #434343;
$medium-grey: #9AA0A6;
$light-grey: #eeeeee;

// red
$dark-red: #A50E0E;
$medium-red: #EA4335;

// brown
$dark-brown: #B45F06;
$medium-brown: #E69138;
$light-brown: #FCE5CD;