@use "./color" as colors;

@mixin input-clear($back: colors.$white){
    outline: 0;
    border: 0;
    background: $back;
}

@mixin button-clear($back: #ccc, $color: #000){
    outline: 0;
    border: 0;
    background: $back;
    color: $color;
    cursor: pointer;
}

@mixin display-center(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin display-column($js: none, $ai: none){
    display: flex;
    flex-direction: column;
    justify-content: $js;
    align-items: $ai;
}

@mixin display-modal(){
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #00000040;
    z-index: 100;
    overflow-y: hidden
}

@mixin custom-input(){
    @include input-clear();
    border-radius: 8px;
    text-indent: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    box-sizing: border-box;
    box-shadow: 0 0 8px rgba($color: colors.$primary-blue, $alpha: 0.1);
    border: 2px solid colors.$light-grey;
    transition: 0.3s all;
    color: colors.$light-black;
    &:focus {
        border: 2px solid colors.$primary-blue;
        box-shadow: 0 0 8px rgba($color: colors.$primary-blue, $alpha: 0.3);
    }
    &:disabled {
        background: #eeeeee;
        cursor: not-allowed;
    }
}

@mixin link-underline($color: colors.$darken-blue){
    color: $color;
    cursor: pointer;
    font-weight: 400;
    &:hover{
        text-decoration: underline;
    }
}