
$white: #ffffff;
$hover-white: #f7f8f8;
$primary-blue: #007bff;
$darken-blue: #3672d4;
   
$input-shadow: 0 0 8px rgba(0, 0, 0, 0.2); 

$light-gray: #d8dee9;
$secondary: #f59e0b;
$accent: #447cdc;
$background: #f8fafc;
$text: #ffffff;
$success: #10b981;
$error: #ef4444;
$transition: all 0.3 cubic-bezier(0.4, 0, 0.2, 1);
$font-family-base: 'Montserrat', sans-serif, 'Segui UI';
$box-shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.1);
$radius: 12px;
$shadow: 8px 8px 16px #d1d5db, -8px -8px 16px #ffffff;