spring:
  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST}
    port: ${SPRING_RABBITMQ_PORT}
    username: ${SPRING_RABBITMQ_USERNAME}
    password: ${SPRING_RABBITMQ_PASSWORD}
    listener:
      simple:
        missing-queues-fatal: false
    template:
      default-receive-queue: ""

  mail:
    host: ${SPRING_MAILHOG_HOST}
    port: ${SPRING_MAILHOG_PORT}
    username: ${SPRING_MAILHOG_USERNAME}
    password: ${SPRING_MAILHOG_PASSWORD}

  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: validate
      format-sql: true

  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    driverClassName: org.postgresql.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hikari:
      minimum-idle: 1
      maximum-pool-size: 5

  flyway:
    enabled: true
    locations: classpath:db/migration
    validate-on-migrate: true
    baseline-on-migrate: true

#  sql:
#    init:
#      mode: always
#      data-locations: classpath:data.sql
  cache:
    type: redis
    redis:
      time-to-live: "10m"
      use-key-prefix: true
      cache-null-values: false

  redis:
    host: ${SPRING_REDIS_HOST:localhost}
    port: ${SPRING_REDIS_PORT}

server:
  port: 8080
  error:
    include-message: always
    include-stacktrace: always

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

token:
  signing:
    key: 4ca9f2b1d0481c33acb8dcbeaf08a6d1aba6cc2e0a24401493365361308677998b291cda035f59e1587fa3b847e477b4e9baf200e9a748856845c3f65c71db98 # ${JWT_SIGNING_KEY}

hmac:
  key: 5+7r3Kss9Wr1zUy1l1uaWfG6s9Yt2QBXWUrC/Hcjzko=

jwt:
  access-token-expiration: ${ACCESS_TOKEN_EXP}
  refresh-token-expiration: ${REFRESH_TOKEN_EXP}