spring:
  h2:
    console:
      enabled: true
      path: /h2-console

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    listener:
      simple:
        missing-queues-fatal: false
    template:
      default-receive-queue: ""

  mail:
    host: localhost
    port: 1025
    username: root
    password: root

  datasource:
    url: jdbc:h2:file:./data/transport_db;DB_CLOSE_ON_EXIT=FALSE;
    driverClassName: org.h2.Driver
    username: root
    password: root
    hikari:
      minimum-idle: 1
      maximum-pool-size: 5
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
#  sql:
#    init:
#      mode: always
#      data-locations: classpath:data.sql
  cache:
    type: redis
    redis:
      time-to-live: "10m"

  redis:
    host: localhost
    port: 6379

server:
  port: 8080
  error:
    include-message: always
    include-stacktrace: always

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

token:
  signing:
    key: 4ca9f2b1d0481c33acb8dcbeaf08a6d1aba6cc2e0a24401493365361308677998b291cda035f59e1587fa3b847e477b4e9baf200e9a748856845c3f65c71db98

hmac:
  key: 5+7r3Kss9Wr1zUy1l1uaWfG6s9Yt2QBXWUrC/Hcjzko=

jwt:
  access-token-expiration: 60000
  refresh-token-expiration: 604800000