spring:
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:
    hikari:
      minimum-idle: 1
      maximum-pool-size: 5

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  cache:
    type: redis
    redis:
      time-to-live: "1m"

  redis:
    host: localhost
    port: 6379

  thymeleaf:
    enabled: false

server:
  port: 8080
  error:
    include-message: always
    include-stacktrace: always

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

token:
  signing:
    key: 4ca9f2b1d0481c33acb8dcbeaf08a6d1aba6cc2e0a24401493365361308677998b291cda035f59e1587fa3b847e477b4e9baf200e9a748856845c3f65c71db98

hmac:
  key: 5+7r3Kss9Wr1zUy1l1uaWfG6s9Yt2QBXWUrC/Hcjzko=

jwt:
  access-token-expiration: 30000
  refresh-token-expiration: 604800000
