@use "../../static/color" as colors;
@use "../../static/mixin" as mixins;

.booking-wrapper{
    @include mixins.display-center();
    flex-direction: column;
    gap: 1.25rem;
    .confirm-payment-container{
        @include mixins.display-modal();
    }
    .booking-container{
        @include mixins.display-column();
        gap: 0.75rem;
        background: colors.$white;
        width: 70%;
        border-radius: 16px;
        max-width: 1000px;
        padding: 1.25rem 2rem;
        box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.25);
        .header-container{
            display: flex;
            justify-content: space-between;
            .first-section{

            }   
            .second-section{

            }
        }
        .place-container{
            display: flex;
            justify-content: space-around;
            padding: 0.5rem 0;
            font-size: 20px;
            cursor: default;
            .route{
                &:hover{
                    text-decoration: underline;
                }
            }
            .arrow-container{
                background: #FEEFC3;
                color: colors.$dark-grey;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                @include mixins.display-center();
                transition: 0.3s all ease;
                &:hover{
                    transform: rotate(25deg);
                }
            }
        }
        .time-container{
            display: flex;
            justify-content: space-around;
            text-align: center;
            text-transform: uppercase;
            .text{
                color: #797c82;
                letter-spacing: 0.05rem;
            }
        }
        .last-section{
            display: flex;
            justify-content: space-around;
            text-align: center;
            text-transform: uppercase;
            .text{
                color: #797c82;
                letter-spacing: 0.05rem;
            }
            .date-container{
                
            }
        }
        .button-container{
            display: flex;
            gap: 0.25rem;
            
            button{
                width: 100%;
                padding: 0.5rem 0;
                font-size: 1.005rem;
                font-weight: 600;
                border-radius: 8px;
            }
            .payment-button{
                @include mixins.button-clear(
                    colors.$dark-green,
                    colors.$white
                );
            }
            .cancel-button{
                @include mixins.button-clear(
                    colors.$dark-red,
                    colors.$white
                );
            }
            .history-button{
                @include mixins.button-clear(
                    colors.$dark-brown,
                    colors.$white
                );
            }
        }
    }
}