@use "../../static/mixin" as mixins;
@use "../../static/color" as colors;

.change-password-container {
    @include mixins.display-modal();
}

.change-modal-container {
    @include mixins.display-modal();
}

.main-container {
    .user-info-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        
        .user-info-container {
            width: 80%;
            padding: 1rem 1.5rem;
            margin: 1rem 0;
            background: #f2f5fd;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            
            .title {
                font-size: 1.75rem;
                text-align: center;
                letter-spacing: 0.05rem;
                font-weight: 600;
            }
            
            .main-container {
                display: flex;
                justify-content: space-evenly;
                
                .info-block {
                    font-size: 1.2rem;
                    display: flex;
                    gap: 0.5rem;
                    
                    .withdraw-button {
                        @include mixins.button-clear(green, colors.$white);
                        @include mixins.display-center();
                        gap: 5px;
                        font-size: 17px;
                        border-radius: 8px;
                        padding: 0.5rem;
                    }
                    
                    input {
                        @include mixins.custom-input();
                    }
                    
                    span {
                        @include mixins.display-center();
                    }
                }
                
                .password-block {
                    display: flex;
                    align-items: center;
                }
                
                .button-block {
                    button {
                        @include mixins.button-clear(colors.$secondary, colors.$white);
                        font-size: 1.25rem;
                        border-radius: 8px;
                        padding: 0.25rem 0.75rem;
                    }
                }
                
                .user-info-subcontainer {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                    gap: 1rem;
                    
                    .secondary-container {
                        @include mixins.display-column();
                        gap: 0.5rem;
                        // .password-block
                    }
                }
            }
        }
    }
}

.useragent-container {
    padding: 1.5rem 2rem;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;

    .delete-item {
        button {
            border-radius: 8px;
            padding: 5px 10px;
            border: none;
            background: #af3535;
            color: #e7e3e3;
            box-shadow: 0 0 8px rgba(0,0,0,0.1);
            transition: all 0.3s ease;
            cursor: pointer;
            
            &:hover {
                background: #bb2c2c;
                transform: translateY(1px);
            }
            
            &:disabled {
                background: #444;
            }
        }
    }
}

.password-do-not-match {
    margin: 0 1.5rem;
    color: #c92626;
}

.subtitle-position1 {
    @include mixins.display-center();                                                                                    
    background: #D5A6BD;
    padding: 0 2rem;
    width: fit-content;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    
    h2 {
        white-space: nowrap;
    }
}

.subtitle-position2 {
    @include mixins.display-center();
    background: #A4C2F4;
    padding: 0 2rem;
    color: #161616;
    width: fit-content;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
}