@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-ExtraLight.ttf') format('truetype');
  font-display: swap;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-Thin.ttf') format('truetype');
  font-display: swap;
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-Medium.ttf') format('truetype');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-SemiBold.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-Bold.ttf') format('truetype');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat-ExtraBold.ttf') format('truetype');
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}