name: Backend CI

on: [push, pull_request]

jobs:        
  build-and-run:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        working-directory: ./backend      
    services:
      redis:
        image: redis:latest
        ports:
          - 6379:6379
        options: --health-cmd "redis-cli ping" --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
      - name: Test
        run: mvn test -Dspring.profiles.active=test

      - name: Build
        run: mvn clean package -DskipTests

      - name: Start Spring Boot (Background)
        run: |
          nohup java -jar target/*.jar --spring.profiles.active=test > app.log 2>&1 &
          echo $! > app.pid until curl -s http://localhost:8080/actuator/health; 
            do sleep 2
          done
          
      - name: Test Health Endpoint
        run: |
          curl http://localhost:8080/actuator/health

      - name: Verify redis
        run: |
          docker exec $(docker ps -q -f name=redis) redis-cli ping | grep PONG

      - name: Install Postman CLI
        run: |
          curl -o- "https://dl-cli.pstmn.io/install/linux64.sh" | sh
  
      - name: Login to Postman CLI
        run: postman login --with-api-key ${{ secrets.POSTMAN_API_KEY }}

      - name: Run Authentication API tests
        run: |
          postman collection run "43572409-85274713-53ef-4064-8568-02b0f690be2a"
    
      - name: Run Routes API tests
        run: |
          postman collection run "43572409-440e5bcd-73d9-406b-a466-0f97cb34e92a"
      
      - name: Run User interaction API tests
        run: |
          postman collection run "43572409-74e0a3ba-6468-464e-91fa-bb5d24343ce0"
          
      - name: Run Booking API tests
        run: |
          postman collection run "43572409-a9abd4d5-63d1-426f-b61e-70bb3ac666aa"

      - name: Run k6 tests with 10 vus
        uses: grafana/k6-action@v0.3.0
        with:
          filename: tests/testWithTenVus.js
      - name: Run k6 tests with 1100 iterations
        uses: grafana/k6-action@v0.3.0
        with:
          filename: tests/testWithRateLimit.js

      - name: Stop Spring Boot
        run: |
          kill $(cat app.pid)

  # docker-deploy:
  #   needs: build-and-run
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4

  #     - name: Check docker compose v2
  #       run: docker compose up --build -d

  #     - name: Wait for container to finish
  #       run: |
  #         docker compose logs -f &
  #         docker compose wait || true

  #     - name: Remove docker
  #       run: docker compose down